* {
    margin: 0;
    padding: 0;
}

header, footer {
    background-color: #1f2937;
}

.heder, .mainsub {
    font-size: 18px;
    color: #E5E7EB;    
}

.heder {
    display: flex;
    justify-content: space-between;
    padding: 30px;
}

.menu {
    display: flex;
    gap: 30px;
}

.menus {
    text-decoration: none;
    color: #E5E7EB;
}

.main {
    background-color: #1f2937;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    padding: 45px;
}

.maintext {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

.mainpart {
    width: 500px;
    height: auto;
}

.maincat {
    width: 350px;
    height: auto;
    margin: 30px;
}

.first {
    background-color: #3882F6;
    color: white;
    padding: 5px 20px;
    border-radius: 10px;
    margin-top: 10px;
}

.body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    gap: 20px;
    margin: 30px;
    font-size: 36px;
    font-weight: bolder;
}

.cat {
    border: turquoise solid;
    border-radius: 20px;
}

.pusas {
    display: flex;
    gap: 30px;
    place-content: center;
}

.pusa {
    display: flex;
    flex-flow: column wrap;
    place-content: center;
    align-items: center;
    gap: 10px;
    font-size: 18px;
    font-weight: normal;
}

.quote {
    background-color: #E5E7EB;
    color: #1f2937;
    padding: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    place-content: center;
    font-style: italic;
}

.by, .call {
    font-style: normal;
    font-weight: bold;
}

.contact {
    background-color: #3882F6;
    color: white;
    margin: 40px;
    border-radius: 20px;
    padding: 20px 50px;
    display: flex;
    place-content: center space-around;
}

.second {
    color: white;
    background-color: #3882F6;
    padding: 5px 20px;
    border-radius: 10px;
    margin-top: 10px;
    border: white solid;
    border-width: thin;
}

footer {
    text-align: center;
    color: white;
    padding: 20px;
}
